---
layout: home
script: home.js
---


<div class="slider fullscreen" id="slider-home">
    <div id="banner-description">
        <img src="{{site.url}}/{{site.data.home.logo}}" id="site-logo">
        <div>{{site.data.home.longname}}</div>
    </div>
    <div id="gradient-nav"></div>
    <div id="chevron-banner"><i class="material-icons">keyboard_arrow_down</i></div>
    <ul class="slides">
     {% for img in site.data.home.slideshow1 %}
      <li>
        <img src="{{site.url}}/{{img.img}}" alt="{{img.alt}}">
      </li>
      {% endfor%}
    </ul>
  </div>


<div class="no-pad-top" id="index-page">
  <div class="container">
    <!--   Icon Section   -->
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="medium material-icons custom1-text">supervisor_account</i></h2>
            <h2 class="center">Who</h2>
            <p class="light">
                {{ site.data.home.who.text }}</p>
                {% if site.data.home.who.subpoints %}
                <ul class="dashed light">
                    {% for x in site.data.home.who.subpoints %}
                        <li>{{x.text}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="medium material-icons custom1-text">today</i></h2>
            <h2 class="center">When</h2>
            <p class="light">{{ site.data.home.when }}</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="medium material-icons custom1-text">location_on</i></h2>
            <h2 class="center">Where</h2>
            <p class="light">{{ site.data.home.where }}</p>
          </div>
        </div>
      </div>


    <!-- paragraph -->
    <div class="section">
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="icon-block">
            <h3 class="center"><i class="medium material-icons custom1-text">send</i></h3>
            <p class="center light">{{ site.data.home.paragraph1 }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- button -->
    <div class="section">
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="icon-block">
            <div class="center">
                <a class="cta-btn" href="{{site.url}}/registration">
                {{ site.data.home.button }}
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row" style="text-align:center; align-items: center;">
    <div class="slider" id="foto-eventi">
      <ul class="slides" style="border-radius: 20px;">
        {% for slide in site.data.home.slideshow2 %}
          <li style="border-radius: 20px;">
            <img src="{{ site.url }}/{{ slide.img }}" alt="{{ slide.alt }}">
            <div class="caption left-align">
              <h4>{{ slide.title }}</h4>
              <p class="light grey-text text-lighten-3">{{ slide.text }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="logos-container">
    {% for image in site.data.footer.images %}
      <a href="{{ image.url }}" target="_blank" rel="noopener" class="logo-link">
        <img class="{{ image.shape }} logo-img" src="{{ image.link }}" alt="">
      </a>
    {% endfor %}
  </div>
</div>

<!-- sponsor, animati via scroll -->
<div class="container" style="width: 70%;">
  <!-- Carosello Sponsor -->
  <a href="{{ site.url }}/partners/" style="text-decoration: none;">
    <section class="sponsors-section">
      <p class="sponsors-text">Thanks to:</p>
      <div class="spacer"></div>

      <div class="sponsors-slider">
        <div class="sponsors-track">
          <!-- Primo set -->
            {% for partner in site.data.partners.cards[0].items %}
            <img src="{{ site.url }}/{{ partner.img }}" alt="{{ partner.title }}">
            {% endfor %}
          <!-- Second set (duplicato) -->
            {% for partner in site.data.partners.cards[0].items %}
            <img src="{{ site.url }}/{{ partner.img }}" alt="{{ partner.title }}">
            {% endfor %}
        </div>
      </div>
    </section>
  </a>
</div>