<ul class="right hide-on-med-and-down nav-links">
   <li><a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
   <li><a href="{{ '/registration' | relative_url }}" class="{% if page.url == '/registration/' %}active{% endif %}">Registration</a></li>
   <li><a href="{{ '/programme' | relative_url }}" class="{% if page.url == '/programme/' %}active{% endif %}">Programme</a></li>
   <!-- <li><a href="{{ '/speakers' | relative_url }}" class="{% if page.url == '/speakers/' %}active{% endif %}">Speakers</a></li> -->
   <li><a href="{{ '/committee' | relative_url }}" class="{% if page.url == '/committee/' %}active{% endif %}">About us</a></li>
   <li><a href="{{ '/facilities' | relative_url }}" class="{% if page.url == '/facilities/' %}active{% endif %}">Facilities</a></li>
   <li><a href="{{ '/partners' | relative_url }}" class="{% if page.url == '/partners/' %}active{% endif %}">Partners</a></li>
   <li><a href="https://www.ai-sf.it" target="_blank"><i class="material-icons left">public</i>AISF</a></li>
</ul>
